transformers
Pillow
pypdf
jq
streamlit
boto3
awscli
pandas-datareader
langchain-experimental
bs4
setuptools
PyPDF2
pypdf
python-dotenv
botocore
pydantic>=1.10.13,<2
langchain-core>=0.1.0,<0.3
langchain-community>=0.0.20,<0.2
langchain-openai>=0.0.8,<0.1